.parents{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 20px;
  min-width: 300px;
  min-height: 300px
}
img{
  width: 100px;
  min-height: 100px;
  padding: 20px;
  margin-left: 15px;
}
.child{
  text-align: center !important;
  width:300px;
  min-height:300px;

}
.cart{
  width: 80px;
  min-height: 80px;
  margin-left: -60px;
}
.header1{
  background-color: blueviolet;
}
.showcart{
  background-color: blueviolet;

}